#grid-container{
  position: absolute;
  width: 100%;
  height: 100%;
}

#grid{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  background: black;
  padding: 5px;
  flex-wrap: wrap;
  /* width: 97%; */
}

.grid-item{
  padding:3px;
  width: 24vw;
}
