header {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Raleway", sans-serif;
}

#header-title {
  font-size: 5em;
  font-weight: 900;
  max-width: 60%;
  padding-left: 50px;
}

#header-title > a{
  transition: .2s all ease-in-out;
}

#header-title > a:hover {
  color:rgba(251, 219, 27, 0.86);
}

#header-links-container {
  display: flex;
  justify-content: space-around;
  width: 45%;
  padding-right: 40px;
}

.header-link {
  font-weight: 400;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  transition: .2s all;
}

.header-link:hover{
  color: rgba(251, 219, 27, 0.86)
}

.header-category {
  font-weight: 500;
}

.selected-category {
  font-weight: 700;
  color: rgba(251, 219, 27, 0.86);
}

@media only screen and (max-width : 1280px) {
  header{
    justify-content: center;
  }

  #header-title {
    padding-left: 0;
    font-size: 10vw;
    width: auto;
    max-width: 88%;
    margin-top: 25px;
  }

  #header-links-container {
    display: none;
  }

}

@media only screen and (max-width : 880px) {
  #header-title {
    font-size: 14vw;
  }
}

@media only screen and (max-width : 1380px) {
  #header-links-container{
    width: 70%;
  }
}