.album-title{
  /*position: fixed;*/
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  font-weight: 900;
  padding-left: 50px;
}

#th-container {
  position: relative;
  /*opacity: 0;*/
  z-index: 9;
  width: 99vw;
  background: black;
  margin-top: 255px;
  box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.75);
  overflow-x: hidden;
  transition: .4s all;
}

.th-row {
  position: relative;
  width: 105vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: .2s all;
}

.last-row{
  width: 100vw;
  left: 0 !important;
}

.th-row-left {
  left: 0;
}

.th-row-right {
  right: 5vw;
}

.lt-thumbnail {
  margin: 3px 0 0 3px;
  cursor: pointer;
}

.horizontal-image{
  flex-basis: 35vw;
}

.vertical-image{
  flex-basis: 13vw;
}

.last-row > .horizontal-image{
  flex-basis: 30vw;
}

.last-row > .vertical-image{
  flex-basis: 13vw;
}

@media only screen and (max-width : 480px) {

  .th-row {
    width: 100%;
    left: 0 !important;
    right: 0 !important;
    flex-direction: column;
  }

  .lt-thumbnail {
    flex-basis: 30vw;
  }

  .album-title{
    padding-left: 20px;
  }

  /*.last-row {*/
  /*  flex-basis: 35vw;*/
  /*}*/
}

@media only screen and (max-width : 1300px) {
  #th-container {
    margin-top: 325px;
  }
}

