{{ define "js-lib" }}

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/public/js/vendor/jquery.mobile-events.min.js"></script>

{{ end }}
