a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.hidden {
  display: none !important;
}

.flex-center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.background-fadable {
  opacity: 0;
  z-index: 0;
  top: 100vh !important;
  transition: .8s all;
}

.background-blur-fadable {
  top: 100vh !important;
  z-index: 0;
  opacity: 0;
}

.background-blur-fade-in {
  opacity: 1;
}

.background-fade-in {
  opacity: 1;
  transition: .8s all;
}

.background-visible {
  z-index: 9;
  top: 0 !important;
}

.background-blur-visible {
  opacity: 1;
  z-index: 8;
  top: 0 !important;
}

/* TEXT */
.fadable-text-container {
  z-index: -1;
  transition: .8s all;
}

.slidable-text-container {
  position: relative;
  top: -50px;
}

/* .slidable-text-container {
  position: absolute;
  bottom: 50px;
  left: 50px;
} */

.text-container-visible {
  z-index: 998;
}

.text-container-fade-out {
  opacity: 0;
}

/* .slide-text-container-down {
  bottom: 0px !important;
  transition: .8s all !important;
}

.slide-text-container-up {
  bottom: 100px !important;
  transition: .8s all !important;
} */

.slide-text-container-down {
  top: -100px !important;
  transition: .8s all !important;
}

.slide-text-container-up {
  top: 0 !important;
  transition: .8s all !important;
}
