.arrow-container{

}

.arrow-down{
    position: relative;
    opacity: 0;
    top: 0;
    color: #dbdbdb;
    width: 192px;
    height: auto;
}

.arrow-down:last-child{
    transform: rotateY(90deg);
}

.animate-arrow{
    animation-name: eye-catcher;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes eye-catcher {
  0%   {
    top: 0;
    color: #dbdbdb;
    opacity: 0;
  }
  8%  {
    color: rgba(251, 219, 27, 0.86);
    opacity: .5;
  }
  15% {
    top: 100px;
    color: #dbdbdb;
    opacity: 0;
  }
}