.background-container {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

#gradient{
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  /* background: rgb(0,0,0); */
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 35%, rgba(255,255,255,0) 100%);
}

#background-step0-container {
  /*background: url("/public/img/bg/background_0.jpg") no-repeat center;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*background: linear-gradient(135deg, #000, #003060);*/
}

#background-step1-container {
  /*background: url("/public/img/bg/background_1.jpg") no-repeat center;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#background-step2-container {
  /*background: url("/public/img/bg/background_2.jpg") no-repeat center;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#background-step3-container {
  /*background: url("/public/img/bg/background_3.jpg") no-repeat center;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#background-step4-container {
  /*background: url("/public/img/bg/background.jpg") no-repeat center;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*#background-blur-step0-container {*/
/*  background: url("/public/img/bg/background_blur.jpg") no-repeat center;*/
/*  background-size: cover;*/
/*  !*background: linear-gradient(135deg, #000, #003060);*!*/
/*}*/

/*#background-blur-step1-container {*/
/*  background: url("/public/img/bg/background_blur.jpg") no-repeat center;*/
/*  background-size: cover;*/
/*}*/

/*#background-blur-step2-container {*/
/*  background: url("/public/img/bg/background_blur.jpg") no-repeat center;*/
/*  background-size: cover;*/
/*}*/

/*#background-blur-step3-container {*/
/*  background: url("/public/img/bg/background_blur.jpg") no-repeat center;*/
/*  background-size: cover;*/
/*}*/

/*#background-blur-step4-container {*/
/*  background: url("/public/img/bg/background_blur.jpg") no-repeat center;*/
/*  background-size: cover;*/
/*}*/
