#scroll-indicator-main-container {
  position: absolute;
  z-index: 999;
  right: 25px;
  align-items: flex-end !important;
}

.scroll-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
}

.scroll-indicator-label {
  position: relative;
  cursor: pointer;

  font-family: "Raleway", "sans-serif";
  color: white;
  left: 0;
  /* opacity: 0.8; */
  opacity: 0;
  margin: 0;
  transition: .2s all;
}

.selected-indicator-label{
  font-weight: 900;
  transition: .2s all;
}

.scroll-indicator-bar {
  width: 10px;
  height: 18%;
  opacity: 0.7;
  /* margin: 10px 0 0 0; */
  padding-left: 10px;
  cursor: pointer;
  border-right: solid 2px #eee;
  transition: .3s all;
  height: 20px;
}

.selected-scroll-bar {
  height: 60px;
  transition: .3s all;
}

#landing-screen-container {}

.landing-title-container {}

.landing-title:hover {
  color: rgb(238, 206, 15);
}

.enter-container{
  z-index: 990;
  opacity: 0;
  transition: .8s all;
}

.enter-container-visible{
  z-index: 998;
  opacity: 1;
}

.enter-button {
  position: absolute;
  bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  text-decoration: none;
  transition: .2s all;
}

.enter-button:hover{
  color: rgba(251, 219, 27, 0.86)
}

/* .enter-button-hidden{
  z-index: -1;
  opacity: 0;
} */

.screen-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.screen-title {}

.screen-description {}

@media only screen and (max-width : 480px) {
  #scroll-indicator-container {
    right: -10px;
  }

  .title {
    font-size: 12vw !important;
  }

  .scroll-indicator-label {
    display: none;
  }
  /* .slidable-text-container {
    top: 0;
  }

  .slide-text-container-down {
    top: -50px !important;
    transition: .8s all !important;
  }

  .slide-text-container-up {
    top: 50px !important;
    transition: .8s all !important;
  }

  .screen-text {
    text-align: center;
    font-size: 20px;
  }

  .screen-subsection {
    font-size: 1em !important;
  }

  #landing-title-logo {
    width: 100%;
  }

  .text-container {
    width: 86%;
  }

  .screen-subsection-container {
    width: 100%;
  }

  .screen-container {
    justify-content: flex-start;
    margin-top: 25vh;
  } */
}
