.title {
  position: relative;
  font-family: "Raleway", "Roboto", sans-serif;
  font-weight: 900;
  z-index: 999;
  /* font-variant: small-caps; */
  padding: 0px 25px;
  /* border: 1px solid white; */
  color: #dbdbdb;
  font-size: 7vw;
  text-align: center;
  /* text-shadow: 0px 3px 5px rgba(0,0,0,0.8); */
  transition: .2s all ease-in-out;
}

@media only screen and (max-width : 480px) {
  .title {
    position: relative;
    top: 1vh;
  }
}
